// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';

// VARIABLES

$c-primary: #433f4a;
$c-hover: #201c2b;
$c-purple-border: #392e5c;
$c-box-purple: #7239c3;
$c-background-dark-purple: #17141f;
$c-white: #faf9fa;
$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';

@import 'font-awesome';
@import 'box-sizing';
@import 'resets';
@import 'sidebar';

.games {
  flex-grow: 1;
  color: $c-background-dark-purple;
  overflow: scroll;

  &__heading {
    font-weight: normal;
  }
}

.container {
  padding: 1rem;
}

.results {
  display: flex;
  flex-wrap: wrap;

  > * + * {
    margin-left: 1rem;
  }
}

.game-item {
  flex-basis: calc(100% / 4 - 1rem);
}
